In [21]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib as plt

In [22]:
#creating a path
file_path = ("/Users/bezaabebe/Documents/Stock_project_1/Resources/StockDataConsolidated.csv")

In [23]:
#Reading the csv file
stock_df = pd.read_csv(file_path)
stock_df

,NVDA,Date,Open,High,Low,Close,Adj Close,Volume
0,NVDA,1/2/2013,3.140000,3.182500,3.127500,3.180000,2.935840,47883600
1,NVDA,1/3/2013,3.180000,3.217500,3.145000,3.182500,2.938147,29888800
2,NVDA,1/4/2013,3.187500,3.297500,3.177500,3.287500,3.035086,52496800
3,NVDA,1/7/2013,3.285000,3.295000,3.170000,3.192500,2.947381,61073200
4,NVDA,1/8/2013,3.200000,3.210000,3.100000,3.122500,2.882755,46642400
...,...,...,...,...,...,...,...,...
8549,AI,12/22/2023,29.700001,29.950001,28.420000,28.740000,28.740000,9783900
8550,AI,12/26/2023,28.900000,29.889999,28.659000,29.469999,29.469999,7758200
8551,AI,12/27/2023,29.709999,30.459999,29.400000,30.049999,30.049999,9300300
8552,AI,12/28/2023,30.000000,31.129999,29.790001,30.230000,30.230000,8979400
8553,AI,12/29/2023,30.180000,30.200001,28.559999,28.709999,28.709999,10659600

In [ ]:
#Variables
stock_data_list = ["NVDA", "META", "AMD", "AI"]
# close_price = 0
# open_price = 0
#to find the means of the stocks over the following time periods 
#time_period = 1, 3, 5, 10 (year)
#Final answers should be two decimal points
# use default color for graphs

# Calculate Statistical Measures

# Comparative Analysis

# Measure of Risk