In [165]:
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib as plt
import os
import pprint

In [3]:
#creating a path
#file_path =("Resources/StockDataConsolidated.csv")
file_path =("../Project-1/StockDataConsolidated.csv")
#Desktop/Project-1/StockDataConsolidated.csv

In [4]:
#Reading the csv file
stock_df = pd.read_csv(file_path)
stock_df

,Ticker,Date,Open,High,Low,Close,Adj Close,Volume
0,NVDA,1/2/13,3.140000,3.182500,3.127500,3.180000,2.935840,47883600
1,NVDA,1/3/13,3.180000,3.217500,3.145000,3.182500,2.938147,29888800
2,NVDA,1/4/13,3.187500,3.297500,3.177500,3.287500,3.035086,52496800
3,NVDA,1/7/13,3.285000,3.295000,3.170000,3.192500,2.947381,61073200
4,NVDA,1/8/13,3.200000,3.210000,3.100000,3.122500,2.882755,46642400
...,...,...,...,...,...,...,...,...
8549,AI,12/22/23,29.700001,29.950001,28.420000,28.740000,28.740000,9783900
8550,AI,12/26/23,28.900000,29.889999,28.659000,29.469999,29.469999,7758200
8551,AI,12/27/23,29.709999,30.459999,29.400000,30.049999,30.049999,9300300
8552,AI,12/28/23,30.000000,31.129999,29.790001,30.230000,30.230000,8979400
8553,AI,12/29/23,30.180000,30.200001,28.559999,28.709999,28.709999,10659600

In [5]:
#Variables
stock_data_list_1yr = ["NVDA","META","AMD","AI"]
stock_data_list = ["NVDA","META","AMD"]
# close_price = 0
# open_price = 0
#to find the means of the stocks over the following time periods 
#time_period = 1, 3, 5, 10 (year)
#Final answers should be two decimal points
# use default color for graphs

# Calculate Statistical Measures

In [6]:
stock_df = stock_df.dropna()
print(stock_df)

     Ticker      Date       Open       High        Low      Close  Adj Close  \
0      NVDA    1/2/13   3.140000   3.182500   3.127500   3.180000   2.935840
1      NVDA    1/3/13   3.180000   3.217500   3.145000   3.182500   2.938147
2      NVDA    1/4/13   3.187500   3.297500   3.177500   3.287500   3.035086
3      NVDA    1/7/13   3.285000   3.295000   3.170000   3.192500   2.947381
4      NVDA    1/8/13   3.200000   3.210000   3.100000   3.122500   2.882755
...     ...       ...        ...        ...        ...        ...        ...
8549     AI  12/22/23  29.700001  29.950001  28.420000  28.740000  28.740000
8550     AI  12/26/23  28.900000  29.889999  28.659000  29.469999  29.469999
8551     AI  12/27/23  29.709999  30.459999  29.400000  30.049999  30.049999
8552     AI  12/28/23  30.000000  31.129999  29.790001  30.230000  30.230000
8553     AI  12/29/23  30.180000  30.200001  28.559999  28.709999  28.709999

        Volume
0     47883600
1     29888800
2     52496800
3     61073200
4     46642400
...        ...
8549   9783900
8550   7758200
8551   9300300
8552   8979400
8553  10659600

[8554 rows x 8 columns]

In [7]:
#Calculate statistical measures including rate of return, mean, standard deviation, moving averages, and correlations
start_date = "1/2/13"
end_date = "12/29/23"
stock_data_list = ["NVDA","META","AMD","AI"]
#import pandas_datareader as Datareader
#import yfinance as yf

#StockDataConsolidated.csv
#for stocks in stock_data_list:
    #stock_data.df = data.df[stocks]["Adj Close"]
#print(stock_data)

In [8]:
data = stock_df
#print(data.head())

for stocks in stock_data_list:
    #stock_data[stocks] = data[stocks, start_date, end_date]["Adj Close"]
    open_value = data[(data['Ticker'] == stocks) & (data['Date'] == start_date)]["Open"]
    #print(stocks + ": " + str(open_value))
    close_value = data[(data['Ticker'] == stocks) & (data['Date'] == end_date)]["Close"]
    #print(stocks + ": " + str(close_value))
    pct_change = ((close_value.item()-open_value.item())/(open_value.item())) *100
    
    print(pct_change)

15671.337611464969
1189.9416111537314
5680.784470588234

ValueError: can only convert an array of size 1 to a Python scalar

In [9]:
#open_value = stock_df['Open'].iloc[0] 
#close_value = stock_df['Close'].iloc[0]
#stock_df['Pct_Change'] = ((stock_df['Close'] - stock_df['Open']) / stock_df['Open']) * 100
#print(pct_change)

In [10]:
#stock_data_list = ["NVDA","META","AMD","AI"]
#monthly_returns = stock_df[NVDA]["Adj Close"].resample("M").ffill().pct_change

In [11]:
#Please add this to Main
#Rate of Return
for stock_symbol in stock_df['Ticker'].unique():  
    stock_mask = stock_df['Ticker'] == stock_symbol
    if stock_mask.any():  
        stock_df.loc[stock_mask, 'Pct_Change'] = ((stock_df.loc[stock_mask, 'Close'] - stock_df.loc[stock_mask, 'Open']) / stock_df.loc[stock_mask, 'Open']) * 100
    else:
        print(f"Ticker '{Ticker}' not found in DataFrame.")

print(stock_df)

     Ticker      Date       Open       High        Low      Close  Adj Close  \
0      NVDA    1/2/13   3.140000   3.182500   3.127500   3.180000   2.935840
1      NVDA    1/3/13   3.180000   3.217500   3.145000   3.182500   2.938147
2      NVDA    1/4/13   3.187500   3.297500   3.177500   3.287500   3.035086
3      NVDA    1/7/13   3.285000   3.295000   3.170000   3.192500   2.947381
4      NVDA    1/8/13   3.200000   3.210000   3.100000   3.122500   2.882755
...     ...       ...        ...        ...        ...        ...        ...
8549     AI  12/22/23  29.700001  29.950001  28.420000  28.740000  28.740000
8550     AI  12/26/23  28.900000  29.889999  28.659000  29.469999  29.469999
8551     AI  12/27/23  29.709999  30.459999  29.400000  30.049999  30.049999
8552     AI  12/28/23  30.000000  31.129999  29.790001  30.230000  30.230000
8553     AI  12/29/23  30.180000  30.200001  28.559999  28.709999  28.709999

        Volume  Pct_Change
0     47883600    1.273885
1     29888800    0.078616
2     52496800    3.137255
3     61073200   -2.815830
4     46642400   -2.421875
...        ...         ...
8549   9783900   -3.232326
8550   7758200    1.972315
8551   9300300    1.144396
8552   8979400    0.766667
8553  10659600   -4.870779

[8554 rows x 9 columns]

In [151]:
#Rate of Return (Percentage Change)
for stock_symbol in stock_df['Ticker'].unique():  
    stock_mask = stock_df['Ticker'] == stock_symbol
    if stock_mask.any():  
        stock_df.loc[stock_mask, 'Pct_Change'] = ((stock_df.loc[stock_mask, 'Close'] - stock_df.loc[stock_mask, 'Open']) / stock_df.loc[stock_mask, 'Open']) * 100
    else:
        print(f"stock_symbol '{Ticker}' not found in DataFrame.")

print(stock_df[['Ticker', 'Pct_Change']])

     Ticker  Pct_Change
0      NVDA    1.273885
1      NVDA    0.078616
2      NVDA    3.137255
3      NVDA   -2.815830
4      NVDA   -2.421875
...     ...         ...
8549     AI   -3.232326
8550     AI    1.972315
8551     AI    1.144396
8552     AI    0.766667
8553     AI   -4.870779

[8554 rows x 2 columns]

In [153]:
#Please add this to Main
# mean
#number_of_trading_days = 252
group_df = stock_df[['Ticker', 'Pct_Change']]
avg_df = group_df.groupby("Ticker").mean() *100
avg_df=avg_df.rename(columns={"Pct_Change":"avg_change"}) 

print(avg_df)

        avg_change
Ticker
AI       29.336884
AMD       5.395350
META      5.726692
NVDA      9.730892

In [155]:
#Please add this to Main
std_dev_df = group_df.groupby("Ticker").std()
std_dev_df =std_dev_df.rename(columns={"Pct_Change":"std_dev" })
print(std_dev_df)

         std_dev
Ticker
AI      5.803747
AMD     2.925170
META    1.730612
NVDA    2.215406

In [161]:
#Please add this to Main
#This shows where rolling averages/values for 50 days  begin
rolling_df = stock_df["Close"]
rolling_df_50 = rolling_df.rolling(50).mean()
print(rolling_df_50.head(51))

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
5        NaN
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
30       NaN
31       NaN
32       NaN
33       NaN
34       NaN
35       NaN
36       NaN
37       NaN
38       NaN
39       NaN
40       NaN
41       NaN
42       NaN
43       NaN
44       NaN
45       NaN
46       NaN
47       NaN
48       NaN
49    3.1173
50    3.1169
Name: Close, dtype: float64

In [162]:
#Please add this to Main
#This shows where rolling averages/values for 100 days  begin
rolling_df = stock_df["Close"]
rolling_df_100 = rolling_df.rolling(100).mean()
print(rolling_df_100.head(101))

0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
         ...
96          NaN
97          NaN
98          NaN
99     3.221150
100    3.225675
Name: Close, Length: 101, dtype: float64

In [175]:
#stocks_df = stock_df["Ticker"].unique()
#for stock_symbol in stocks:
    #stock_mask = stock_df['Ticker'] == stock_symbol
    #stock_df.loc[stock_mask, f'{stock_symbol}_MA_50'] = stock_df.loc[stock_mask, 'Close'].rolling(window=50).mean()
    #stock_df.loc[stock_mask, f'{stock_symbol}_MA_100'] = stock_df.loc[stock_mask, 'Close'].rolling(window=100).mean()

# Print moving averages
#print(stock_df)

In [176]:
#stocks_df = stock_df["Ticker"].unique()
#for stock_symbol in stocks:
    #stock_mask = stock_df["Ticker"] == stock_symbol
    #stock_df.loc[stock_mask, f'{stock_symbol}_MA_50'] = stock_df.loc[stock_mask, 'Close'].rolling(window=50).mean()
    #stock_df.loc[stock_mask, f'{stock_symbol}_MA_100'] = stock_df.loc[stock_mask, 'Close'].rolling(window=100).mean()

# Calculate the correlation matrix
#stock_correlation= stock_df.groupby("Ticker")['Close'].rolling(window=20).apply(lambda x: x.corr(x.shift()), raw=False).unstack(level=0)

#print(stock_correlation)

In [171]:
#Please add this to Main
# What is the change in stock prices over the period of ten years? 

for stock_symbol in stocks:
    stock_mask = stock_df["Ticker"] == stock_symbol
    if stock_mask.any():
        Open_price = stock_df.loc[stock_mask, 'Open'].iloc[0]  
        Close_price = stock_df.loc[stock_mask, 'Open'].iloc[-1] 
        stock_change = Close_price - Open_price
        stock_changes.append({'Stock_Symbol': stock_symbol, 'Price_Change': stock_change})
        stock_changes_df = pd.DataFrame(stock_changes)
       
    else:
        print(f"No data found for stock symbol '{stock_symbol}'.")

pprint.pprint(stock_changes)

[{'Price_Change': 492.040001, 'Ticker': 'NVDA'},
 {'Price_Change': 325.959991, 'Ticker': 'META'},
 {'Price_Change': 144.88000399999999, 'Ticker': 'AMD'},
 {'Price_Change': 17.639999, 'Ticker': 'AI'},
 {'Price_Change': 494.990005, 'Stock_Symbol': 'NVDA'},
 {'Price_Change': 331.549989, 'Stock_Symbol': 'META'},
 {'Price_Change': 146.95, 'Stock_Symbol': 'AMD'},
 {'Price_Change': 18.75, 'Stock_Symbol': 'AI'},
 {'Price_Change': 494.990005, 'Stock_Symbol': 'NVDA'},
 {'Price_Change': 494.990005, 'Stock_Symbol': 'NVDA'},
 {'Price_Change': 331.549989, 'Stock_Symbol': 'META'},
 {'Price_Change': 146.95, 'Stock_Symbol': 'AMD'},
 {'Price_Change': 18.75, 'Stock_Symbol': 'AI'},
 {'Price_Change': 494.990005, 'Stock_Symbol': 'NVDA'},
 {'Price_Change': 494.990005, 'Stock_Symbol': 'NVDA'},
 {'Price_Change': 331.549989, 'Stock_Symbol': 'META'},
 {'Price_Change': 146.95, 'Stock_Symbol': 'AMD'},
 {'Price_Change': 18.75, 'Stock_Symbol': 'AI'},
 {'Price_Change': 494.990005, 'Stock_Symbol': 'NVDA'},
 {'Price_Change': 331.549989, 'Stock_Symbol': 'META'},
 {'Price_Change': 146.95, 'Stock_Symbol': 'AMD'},
 {'Price_Change': 18.75, 'Stock_Symbol': 'AI'},
 {'Price_Change': 494.990005, 'Stock_Symbol': 'NVDA'},
 {'Price_Change': 331.549989, 'Stock_Symbol': 'META'},
 {'Price_Change': 146.95, 'Stock_Symbol': 'AMD'},
 {'Price_Change': 18.75, 'Stock_Symbol': 'AI'}]

In [130]:
#Please add this to Main
# What is the change in stock prices over the period of ten years? 
stock_df = pd.DataFrame(data)
stocks = stock_df["Ticker"].unique()

# Calculate the change in stock prices over 10 years for each stock
stock_changes = []

for stock_symbol in stocks:
    stock_mask = stock_df["Ticker"] == stock_symbol
    Open_price = stock_df.loc[stock_mask, 'Close'].iloc[0]  # First closing price
    Close_price = stock_df.loc[stock_mask, 'Close'].iloc[-1]   # Last closing price
    stock_change = Close_price - Open_price
    stock_changes.append({"Ticker": stock_symbol, 'Price_Change': stock_change})


stock_changes_df = pd.DataFrame(stock_changes)
print(stock_changes_df)

  Ticker  Price_Change
0   NVDA    492.040001
1   META    325.959991
2    AMD    144.880004
3     AI     17.639999

In [91]:
#print(stock_df.describe())

              Open         High          Low        Close    Adj Close  \
count  8554.000000  8554.000000  8554.000000  8554.000000  8554.000000
mean     96.689732    98.209506    95.170686    96.734654    96.588618
std     100.563532   102.015040    99.090678   100.592633   100.544463
min       1.620000     1.690000     1.610000     1.620000     1.620000
25%      12.985000    13.180000    12.675000    12.982500    12.952868
50%      64.180000    65.527500    63.393749    64.427498    64.261818
75%     149.801879   152.217502   147.500003   149.935001   149.796875
max     502.160004   505.480011   494.119995   504.089996   504.022034

             Volume   Pct_Change  A_MA_50  A_MA_100  I_MA_50  I_MA_100
count  8.554000e+03  8554.000000      0.0       0.0      0.0       0.0
mean   4.143293e+07     0.076052      NaN       NaN      NaN       NaN
std    3.063253e+07     2.511437      NaN       NaN      NaN       NaN
min    0.000000e+00   -21.811341      NaN       NaN      NaN       NaN
25%    2.013618e+07    -1.179884      NaN       NaN      NaN       NaN
50%    3.390520e+07     0.024257      NaN       NaN      NaN       NaN
75%    5.301340e+07     1.279948      NaN       NaN      NaN       NaN
max    3.692928e+08    25.078370      NaN       NaN      NaN       NaN

In [ ]:
# What trends and patterns do these stocks have in common?

In [137]:
#Please add this to Main
#Please add this to Main# What is the annual rate of return of each stock?
data = {
    'Date': pd.date_range(start='01/02/13', periods=100),
    'NVDA': np.random.randn(100).cumsum() + 100,
    'META': np.random.randn(100).cumsum() + 100,
    'AMD': np.random.randn(100).cumsum() + 100,
    'AI': np.random.randn(100).cumsum() + 100,
}
df = pd.DataFrame(data)
df.set_index('Date', inplace=True)


log_returns = np.log(df / df.shift(1))


annual_returns = log_returns.mean() * 252

# Print the annualized returns for each stock
print("Annual Returns:")
print(annual_returns)

Annual Returns:
NVDA   -0.340316
META   -0.424745
AMD     0.065983
AI     -0.242502
dtype: float64

# Comparative Analysis

In [4]:
#Creating Data Frame for each ticker
nvda_stock_df =  stock_df[stock_df["Ticker"]=="NVDA"].reset_index(drop=True)
meta_stock_df =  stock_df[stock_df["Ticker"]=="META"].reset_index(drop=True)
amd_stock_df =  stock_df[stock_df["Ticker"]=="AMD"].reset_index(drop=True)
ai_stock_df =  stock_df[stock_df["Ticker"]=="AI"].reset_index(drop=True)

In [5]:
#Calculate moving averages for each stock
#Moving_Average_Days=[10,50, 200]
#there are 252 trading days in a year.
nvda_stock_df['Rolling_Avg_10_days'] = nvda_stock_df['Close'].rolling(window=10, center=False).mean()
nvda_stock_df['Rolling_Avg_50_days'] = nvda_stock_df['Close'].rolling(window=50, center=False).mean()
nvda_stock_df['Rolling_Avg_200_days'] = nvda_stock_df['Close'].rolling(window=200, center=False).mean()

In [16]:
#combine all dat into a single DataFrame for plotting
combined_df = pd.concat(NVDA[["Date","Close","MA_1yr","MA_3yr","MA_5yr","MA_10yr"]],
                        META[["Date","Close","MA_1yr","MA_3yr","MA_5yr","MA_10yr"]],
                        AMD[["Date","Close","MA_1yr","MA_3yr","MA_5yr","MA_10yr"]],
                        AI[["Date","Close","MA_1yr","MA_3yr","MA_5yr","MA_10yr"]],
                       keys = ["NVDA","META","AMD","AI"],
                       axis=1)

NameError: name 'NVDA' is not defined

In [ ]:
#plotting
fig,axes = plt.subplots(4, 1, figsize=(12, 16),
sharex=True)
for i, (stock, data) in enumerate(combined _df.iteritems()):
     ax = axes[i]
     data.plot(y=["Close","MA_1yr","MA_3yr","MA_ 5yr","MA_10yr"], ax=Ð°Ñ…)
     ax.set_title(stock[1])
     ax. legend(["Close","1yr MA","3yr MA","5yr MA","10yr MA"]) 
     ax.grid (True)
     ax.set_xlabel("Date")
     ax.set_ylabel("Price")
plt.tight_layout()
plt.show()

In [95]:
#calculate the yearly returns for each stock
NVDA["Year"] = stock_df["Date"].dt.year
NVDA["yearly_return"] = NVDA["Close"].pct_change()*100
NVDA["MA_yearly_return_1yr"] = NVDA["yearly_return"].rolling(window=252).mean()
NVDA["MA_yearly_return_3yr"] = NVDA["yearly_return"].rolling(window=252*3).mean()
NVDA["MA_yearly_return_5yr"] = NVDA["yearly_return"].rolling(window=252*5).mean()
NVDA["MA_yearly_return_10yr"] = NVDA["yearly_return"].rolling(window=252*10).mean()

META["Year"] = df["Date"].dt.year
META["yearly_return"] = META["Close"].pct_change()*100
META["MA_yearly_return_1yr"] =META["yearly_return"].rolling(window=252).mean()
META["MA_yearly_return_3yr"] = META["yearly_return"].rolling(window=252*3).mean()
META["MA_yearly_return_5yr"] = META["yearly_return"].rolling(window=252*5).mean()
META["MA_yearly_return_10yr"] = META["yearly_return"].rolling(window=252*10).mean()

AMD["Year"] = df["Date"].dt.year
AMD["yearly_return"] = AMD["Close"].pct_change()*100
AMD["MA_yearly_return_1yr"] =AMD["yearly_return"].rolling(window=252).mean()
AMD["MA_yearly_return_3yr"] = AMD["yearly_return"].rolling(window=252*3).mean()
AMD["MA_yearly_return_5yr"] = AMD["yearly_return"].rolling(window=252*5).mean()
AMD["MA_yearly_return_10yr"] = AMD["yearly_return"].rolling(window=252*10).mean()

AI["Year"] = df["Date"].dt.year
AI["yearly_return"] = AI["Close"].pct_change()*100
AI["MA_yearly_return_1yr"] =AI["yearly_return"].rolling(window=252).mean()
AI["MA_yearly_return_3yr"] = AI["yearly_return"].rolling(window=252*3).mean()
AI["MA_yearly_return_5yr"] = AI["yearly_return"].rolling(window=252*5).mean()
AI["MA_yearly_return_10yr"] = AI["yearly_return"].rolling(window=252*10).mean()

NameError: name 'df' is not defined

In [ ]:
#Combine all data into a single DataFrame for plotting
combined_returns_df = pd.concat([nvda_df[["Year","MA_Yearly_Return_1yr","MA_ Yearly_Return_3yr",
                                           "MA_Yearly_Return_5yr","MA_Yearly_Return_10yr"]],
                                  meta_df[["Year","MA_Yearly_Return_1yr","MA_Yearly_Return_3yr",
                                           "MA_Yearly_Return_5yr","MA_Yearly_Return_10yr"]],
                                  amd_df[["Year","MA_Yearly_Return_1yr","MA_Yearly_Return_3yr",
                                          "MA_Yearly_Return_5yr","MA_Yearly_Return_10yr"]],
                                   ai_df[["Year","MA_Yearly_Return_1yr","MA_Yearly_Return_3yr",
                                           "MA_Yearly_Return_5yr","MA_Yearly_Return_10yr"]]]
                                 keys=["NVDA","META","AMD","AI"],
                                 axis=1)

In [ ]:
#Correlation and plotting
fig, axes = pt.subplots(4, 1, figsize=(12, 16),sharex=True)
for i, (stock, data) in enumerate(combined_returns_df.iteritems):
     ax = axes|i]
     data.plot(x='Year',y=["MA_Yearly_Return_1yr","MA_Yearly_Return_3yr","MA_Yearly_Return_5yr","MA_Yearly_Return_10yr"], ax=ax)
     ax.set_title(stock[1])
     ax. legend(["1yr MA","3yr MA","5yr MA","10yr MA"])
     ax.grid (True)
     ax.set_xlabel(Year)
     ax.set_Ylabel(Average Yearly Return (%))
plt.tight_layout()
plt.show

In [ ]:
# Combine yearly returns into a single DataFrame
yearly_returns_df = pd.concat([nvda_df[["Year","Yearly _Return"]],
                               meta_ df[["Year", "Yearly_Return"]],
                               amd_df[["Year","Yearly_Return"]],
                               ai_df[["Year", "Yearly_Return"]]],
                               keys=["NVDA","META","AMD","AI"]
                              axis=1
                              )

In [ ]:
#calculate the correlation matrix
correlation-matrix=yearly_returns_df["yearly_return"].corr()

#display the correlation matrix
print("Correlation Matrix :")
print(correlation_matrix)

# Measure of Risk